node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Solana treasury keypair + mint metadata written by scripts/setup-nod-token.mjs
.solana

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
